body {
  background-color: rgb(58, 58, 58);
  background-image: rgba(70, 70, 70, 0.75);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}
::selection {
  background: #0080FF;
  text-shadow: none;
  padding: 2rem;
}
pre {
  margin: 0;
}