* {
  box-sizing: border-box;
}

.main{
  height: 80%;
  background: #333;
  color: hsl(90, 75%, 50%);
  font-family: monospace;
  margin: 0;
  position: relative;
}
.subtitle{
  height: 40%;
  background: #333;
  color: hsl(90, 75%, 50%);
  font-family: monospace;
  margin: 0;
  position: relative;

}
