body {
  background-color: black;
  background-image: radial-gradient(
    rgba(90, 90, 90, 0.75), rgb(39, 39, 39) 120%
  );
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #414141;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
  }
}

::selection {
  background: #0080FF;
  text-shadow: none;
}
pre {
  margin: 0;
}
