body {
  background-color: black;
  background-image: radial-gradient(
    rgba(22, 22, 22, 0.75), black 100%
  );
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
      0deg,
      rgba(black, 0.15),
      rgba(black, 0.14) 1px,
      transparent 1px,
      transparent 2px
    );
    pointer-events: none;
  }
}

::selection {
  background: #0080FF;
  text-shadow: none;
}
pre {
  margin: 0;
}
